/* Boostrap overwrite */
.well{ 
	border: 0; 
	border-radius: 0;
	box-shadow: none;
	border-color: transparent;
	background: none;

}

/* Utilities */
.orange{ color: #f24713;}
.light-blue{ color: #7ecefd;}
.blue-grey{ color: #3e454c;}
.white{ color: #fff;}
.lime-green{ color: #99bf38;}


/*
 * Main Section
 */
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

 .logo{
 	display: block;
 	height: 62px;
 	width: 448px;
 	background: url('../images/logo.png') no-repeat;
 	text-indent: -9999px;
 	background-size: 100%;
 }

 .main-heading{
 	font-weight: 100;
 	font-size: 2em;
 	line-height: 1.8em;
 }

 .main-image{
 	background: #ededed url('../images/main-image.png')no-repeat;
 	width: 100%;
 	height: 431px;
 }

.block{
	width: 372px;
	height: 218px;
}
.block.one{
	background: url('../images/main-capabilities.png')no-repeat;
}
.block.two{
	background: #99bf38 url('../images/main-tech.png') no-repeat;
}
.block.three{
	background: #f24713 url('../images/main-discover.png') no-repeat;
}
.block + h3{
	height: 170px;
	margin-top: -20px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	font-size: 2.7em;
	font-weight: 300;
}
.block.one + h3{ background: #7ecefd;}
.block.two + h3{ background: #99bf38;}
.block.three + h3{ background: #f24713;}

section{margin: 0 0 100px 0;}

footer{ 
	display: none;
	background: #545454;
	width: 100%;
	position: absolute;
	bottom: 0;
}